{% extends "base.html" %}
{% block content %}
<div style="padding-top: 6%; margin-left: 7%; font-size: 1.3em;">
    Procedimento de Investigação Ativos<br/>
    <div style="border: 0.5px solid gray; width: 87%;"></div>
</div>
<!--idem mas para inserção das grids dos formularios-->
<div style="padding-top: 2%; margin-right: 2%;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label class="formatacaoTextoFormulario">Buscar</label>
                <input type="search" placeholder="Palavra-chave..." class="form-control tamanhoForm">
            </div>
            <!--form1 e form2 para diminuir o espaçamento entre os forms para inserção dos demais elementos-->
            <div class="col-md-3 form1">
                <label class="formatacaoTextoFormulario">Filtrar</label>
                <select class="form-control tamanhoForm">
                    <option>Selecionar</option>
                </select>
            </div>
            <div class="col-md-3 form2">
                <label class="formatacaoTextoFormulario">Ordenar</label>
                    <select class="form-control tamanhoForm">
                        <option>Selecionar</option>
                    </select>
            </div>
            <div class="col-md-3">
                <br/>
                <div class="organizacaoBotoes">
                    <!--criação do menu de botões seguindo o padrão flexivel-->
                    <div class="item";>
                        <span class="bi bi-table definicaoBotao" style="background-color: rgba(204, 204, 204, 0.479); color: black"></span>
                    </div>
                    <div class="item">
                        <span class="bi bi-grid-3x2-gap-fill definicaoBotao" style="margin-left: -12%;"></span>
                    </div>
                    <div class="item hover">
                        <a href="{{url_for('novo_procedimento', username=username, cpf=cpf)}}"><span class="bi bi-plus-circle-dotted definicaoBotao"></span></a>
                    </div>
                    <div class="item">
                        <span class="bi bi-three-dots-vertical definicaoBotao"></span>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
</div>
<div style="padding-top: 2%; margin-left: 7%;">
    <div style="border: 1px solid gray; width: 85%; height: 25em;">
        <div class="elementosBox">
            <div style="margin-left: 15%;">
                <img src="../static/pasta.png" width="50%">
            </div>
            <div class="afastamento">
                Opa!
            </div>
            <div class="afastamento alinhamentoConteudo">
            <div class="formatacaoTextoFormulario">
                Não há procedimentos registrados no sistema
            </div>
            <div class="formatacaoTextoFormulario">
                Você pode registrar um novo procedimento clicando abaixo
            </div>
            </div>
            <div class="definicaoBotao afastamento" style="width: 20%; height: 1.9em; border-radius: 4px; font-size: 1.1em; text-align: center; padding: 6px 12px">
                + Novo Procedimento
            </div>
        </div>
    </div>
</div>
{% endblock %}